.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 72vh;

    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
        
    opacity: .95;
  }
  
h3 {
  color: purple;
}

p {
  color: darkblue;
}

strong {
  color: darkblue;
}

li {
  color: darkgreen;
  font-weight: bold;
  font-size: larger;
}

.btn-primary {
  background-color: darkorchid;
  border: none;
}

.btn-primary:hover {
  background-color: #7fffd4;
}
  
@media (max-width: 767px) {
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  li {
    font-size: 16px;
  }
}
  