<div class="overlay">
  <div class="container">
    <h2>Admin Board</h2>
    <div class="functions">
      <table class="table">
        <thead>
          <tr>
            <th>Functions</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>View and manage our user accounts</td>
            <td><a class="btn btn-primary" [routerLink]="['/listusers']">Manage Users</a></td>
          </tr>
          <tr>
            <td>Manage our users' saved recipes in their accounts</td>
            <td><a class="btn btn-primary" [routerLink]="['/adminsavedrecipe']">Manage Saved Recipes</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
