<div class="banner bg-img" style="background-image: url('../../assets/Dining.jpg')">
  <div class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12">
              <div class="banner-text text-center">
                  <h2>Recipe</h2>
              </div>
          </div>
      </div>
  </div>
</div>

<br>

<div class="overlay container">
  <h2 class="recipe-header">Recipe Information</h2>
  <div class="row">
    <div class="col-md-5 float-md-right">
      <div>
        <img [src]="recipe.image ? recipe.image : '../../assets/placeholder.jpg'" class="card-img-top" alt="image">
      </div>
    </div>
    <div class="col-md-7 recipe-content-area">
      <h2>{{ recipe.title }}</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Ready in minutes</td>
            <td>{{ recipe.readyInMinutes }}</td>
          </tr>
          <tr>
            <td>Servings</td>
            <td>{{ recipe.servings }}</td>
          </tr>
          <tr>
            <td>Cuisines</td>
            <td>
              <ul>
                <li *ngFor="let cuisine of recipe.cuisines ? recipe.cuisines : ['(null)']">{{ cuisine | titlecase }}</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Dish types</td>
            <td>
              <ul>
                <li *ngFor="let dishType of recipe.dishTypes">{{ dishType | titlecase }}</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Diets</td>
            <td>
              <ul>
                <li *ngFor="let diet of recipe.diets ? recipe.diets : ['(null)']">{{ diet | titlecase }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
  
  <div class="overlay container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h4>Instructions:</h4>
        <div class="single-preparation-step d-flex">
          <p [innerHTML]="recipe.instructions">{{ recipe.instructions }}</p>
        </div>
      </div>
  
      <div class="col-12 col-lg-4">
        <div class="ingredients">
          <h4>Ingredients: </h4>
  
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Select</th>
                <th>Ingredient</th>
                <th>Amount</th>
                <th>Unit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingredient of recipe.extendedIngredients">
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <label class="custom-control-label"></label>
                  </div>
                </td>
                <td>{{ ingredient.originalName }}</td>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.unit }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
              <div class="section-heading text-left">
                  <h3>** Leave us a comment for this recipe: **</h3>
                  <br>
                  <button class="btn btn-primary" type="button" (click)="onCommentClick(recipe)">Comment</button>
              </div>
          </div>
      </div>
      
<br>