<div class="overlay">
  <form class="overlay" [formGroup]="form" (ngSubmit)="onSubmit()" class="search-form">
    <h2>Recipe Search</h2>
    <table class="table">
      <tr>
        <td colspan="2">
          <div class="form-group">
            <input type="text" size="70" formControlName="title" id="title" class="form-control" placeholder="Search for a recipe...">
          </div>
        </td>
      </tr>
      <tr>
        <td><span>Cuisine: </span></td>
        <td><span>Diet:</span></td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <select formControlName="cuisine" id="cuisine" class="form-control mr-2">
              <option value="">-- Select a cuisine --</option>
              <option *ngFor="let c of cuisines" [value]="c">
                {{ c | titlecase }}
              </option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-group">
            <select formControlName="diet" id="diet" class="form-control">
              <option value="">-- Select a diet --</option>
              <option *ngFor="let d of diets" [value]="d">
                {{ d | titlecase }}
              </option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"><span>Exclude Ingredients:</span></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="form-group">
            <input type="text" size="60" formControlName="excludeIngredients" placeholder="Enter comma-separated list" class="form-control">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" class="btn btn-primary">Search Recipes for Me</button>
        </td>
      </tr>
    </table>
  </form>
</div>

