<div class="container">
    <h2>Admin: Saved Recipes by Users</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Username</th>
            <th scope="col">Saved Recipes Count</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let group of groupedSavedRecipes">
            <tr>
              <td>{{ group.userId }}</td>
              <td>{{ group.username }}</td>
              <td>{{ group.recipeCount }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      
    <br>

    <form [formGroup]="form" (ngSubmit)="searchUser()">
      <div class="input-group">
        <input type="number" formControlName="userId" class="form-control" placeholder="Enter User ID" />
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
      
    <br>

    <h2>List of Saved Recipes: {{this.form.get('userId')?.value}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Recipe Title</th>
                <th>View Recipe</th>
                <th>Delete Saved Recipe</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of savedRecipes">
                <td>{{ recipe.recipeTitle }}</td>
                <td><a class="btn btn-primary" [routerLink]="['/details', recipe.recipeId]"
                        (click)="showRecipeDetails(recipe.recipeId!)">View Recipe</a></td>
                <td><button class="btn btn-danger" (click)="deleteRecipe(recipe)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
  
