<div class="overlay">
    <div class="wrapper">
        <section class="form login" *ngIf="isLoginPage">
            <img src="../../assets/FoodAlchemy1.png" alt="FoodAlchemy" width="200" height="100" class="logo">
            &nbsp;
            <header style="color: white">FoodAlchemy Chat</header>
            <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="login()">
                <div class="error-text"></div>
                <div class="field input">
                    <label>Username: </label>
                    <input type="text" name="username" placeholder="Enter your username" required [(ngModel)]="username"
                        #usernameInput="ngModel">
                    <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)"
                        class="text-danger"><b>Username is required</b></div>
                </div>
                <div class="field button">
                    <input type="submit" name="submit" [disabled]="loginForm.invalid">
                </div>
            </form>
        </section>

        <section class="users" *ngIf="isUsersPage">
            <header>
                <div class="content">
                    <img src="{{profileImage}}" alt="">
                    <div class="details">
                        <span style="color: blue">{{ username }} </span>
                    </div>
                    <br>
                </div>
                &nbsp;
                <button class="logout" (click)="logout()">Logout</button>
            </header>
            <div class="search input field">
                <span class="text">Select an user to start chat</span>
                <input type="text" placeholder="Enter name to search..." class="show" [(ngModel)]="search">
            </div>
            <div class="users-list">
                <div *ngFor="let user of onlineUsers">
                    <a (click)="openMessageBox(user)" *ngIf="user.includes(search)">
                        <div class="content">
                            <img src="{{profileImage}}" alt="">
                            <div class="details">
                                <span style="color: purple">{{user}}</span>
                            </div>
                        </div>
                        <div class="status-dot "><i class="bi bi-circle-fill"></i></div>
                    </a>
                </div>
            </div>
        </section>

        <section class="chat-area" *ngIf="isChatPage">
            <header>
                <i class="fas fa-arrow-left" (click)="openUsersPage()" style="color: white"></i>
                <img src="{{profileImage}}" alt="">
                <div class="details">
                    <span style="color: darkblue"><b>{{username}} -> {{ to }}</b></span>
                </div>
            </header>
            <div class="chat-box" #scroll>
                <div *ngFor="let message of privateMessages">
                    <div class="chat outgoing"
                        [ngClass]="{'outgoing': message.from == username, 'incoming': message.to == username }">
                        <div class="details">
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <form #myForm="ngForm" (ngSubmit)="sendMessage()">
                <div class="typing-area">
                    <input type="text" class="incoming_id" name="incoming_id" value="896817886" hidden="">
                    <input type="text" name="message" class="input-field" placeholder="Type a message here..."
                        autocomplete="off" [(ngModel)]="message" (keydown.enter)="sendMessage()">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-send"></i> Send </button>
                </div>
            </form>
        </section>
    </div>
</div>