h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color:purple;
}

.container {
    min-height: 66vh;
}

.btn-primary {
    background-color: darkorchid;
    border: none;
}
  
.btn-primary:hover {
    background-color: #7fffd4;
}

td {
    color: darkblue;
}