<section>
    <div class="banner">
        <h1>FOOD that brings people together.</h1>
    </div>
</section>

<div class="card-container">
    <div class="card u-clearfix">
      <div class="card-body1">
        <span class="card-number card-circle subtle">01</span>
        <span class="card-author subtle"></span>
        <h2 class="card-title">New Brunch Recipe</h2>
        <span class="card-description subtle">These last few weeks I have been working hard on a new brunch recipe for you all.</span>
        <div class="card-read"><a [routerLink]="['/details', '662584']">READ</a></div>
        <span class="card-tag card-circle subtle">C</span>
      </div>
      <a [routerLink]="['/details', '662584']"><img src="https://webknox.com/recipeImages/662584-556x370.jpg" alt="" class="card-media" /></a>
    </div>
    <div class="card-shadow"></div>
  </div>

<br>

<div class="container">
  <div class="circles-container">
    <div class="circle">
      <a [routerLink]="['/listcuisine', italian]"><img class="circular-image" src="../../assets/pasta.jpg" alt="italian pasta"></a>
      <p class="caption">Italian</p>
    </div>
    <div class="circle">
      <a [routerLink]="['/listcuisine', german]"><img class="circular-image" src="../../assets/pork knuckle.jpg" alt="pork knuckle"></a>
      <p class="caption">German</p>
    </div>
    <div class="circle">
      <a [routerLink]="['/listcuisine', chinese]"><img class="circular-image" src="../../assets/dimsum.jpg" alt="chinese fried stuffs"></a>
      <p class="caption">Chinese</p>
    </div>
    <div class="circle">
      <a [routerLink]="['/listcuisine', japanese]"><img class="circular-image" src="../../assets/japan bento.jpg" alt="japan bento"></a>
      <p class="caption">Japanese</p>
    </div>
  </div> 
</div>

<br>

<h2 class="text-center mb-5">Popular Picks</h2>
<ngb-carousel *ngIf="popularRecipes">
  <ng-template ngbSlide>
    <div class="row">
      <div *ngFor="let recipe of popularRecipes.slice(0, 3)" class="col">
        <a class="pcard h-100" [routerLink]="['/details', recipe.id]" (click)="showRecipeDetails(recipe.id)">
          <img [src]="recipe?.image ? recipe.image : '../../assets/placeholder.jpg'" class="card-img-top" alt="{{recipe?.title}} image" (click)="showRecipeDetails(recipe.id)">
          <div class="pcard-body">
            <h5 class="pcard-title">{{recipe.title}}</h5>
            <p class="pcard-text">
              Ready in {{recipe.readyInMinutes}}{{' '}}
              minutes - {{recipe.servings}}{{' '}}
              Servings
            </p>
            <div class="pcard-button">
              <a class="btn btn-primary" [routerLink]="['/details', recipe.id]" (click)="showRecipeDetails(recipe.id)">View Recipe</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="row">
      <div *ngFor="let recipe of popularRecipes.slice(3, 6)" class="col">
        <a class="pcard h-100" [routerLink]="['/details', recipe.id]" (click)="showRecipeDetails(recipe.id)">
          <img [src]="recipe?.image ? recipe.image : '../../assets/placeholder.jpg'" class="card-img-top" alt="{{recipe?.title}} image" (click)="showRecipeDetails(recipe.id)">
          <div class="pcard-body">
            <h5 class="pcard-title">{{recipe.title}}</h5>
            <p class="pcard-text">
              Ready in {{recipe.readyInMinutes}}{{' '}}
              minutes - {{recipe.servings}}{{' '}}
              Servings
            </p>
            <div class="pcard-button">
              <a class="btn btn-primary" [routerLink]="['/details', recipe.id]" (click)="showRecipeDetails(recipe.id)">View Recipe</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-template>
</ngb-carousel>

  <br>
  
  <div class="container">
    <h2 class="text-center mb-5">Our Vegetarian Picks</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let recipe of vegRecipes" class="col">
        <div class="pcard h-100">
          <a [routerLink]="['/details', recipe.id]">
            <img [src]="recipe.image ? recipe.image : '../../assets/placeholder.jpg'" class="card-img-top" alt="{{recipe.title}} image">
          </a>
          <div class="pcard-body">
            <h5 class="pcard-title">{{recipe.title}}</h5>
            <p class="pcard-text">
              Ready in {{recipe.readyInMinutes}}{{' '}}
              minutes - {{recipe.servings}}{{' '}}
              Servings
            </p>
            <div class="pcard-button">
              <a class="btn btn-primary" [routerLink]="['/details', recipe.id]" (click)="showRecipeDetails(recipe.id)">View Recipe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <br>
