/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */

.banner {
    background-image: url('../../assets/bannerimg.jpg');
    height: 400px;
    background-position: center;
    background-size: cover;
    max-width: 100%;
  }
  
h2 {
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .circle {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }
  
  .caption {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color:darkblue;
  }

  .container {
    justify-content: center;
  }
  
  
  .circles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
  }
  
  .circular-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 20px;
  }
  


/* card design */

html {
  background: #FAF7F2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.subtle {
  color: #aaa;
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 692px;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.card-body1 {
  display: inline-block;
  width: 310px;
  position: relative;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  color: darkblue;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  position: absolute;
  right: 30px; 
  top: 30px; 
  width: 45%;
  height: 75%;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

/*  Popular Picks cards */

.pcard {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-radius: 2rem;
  height: 15rem;
  object-fit: cover;
}

.pcard-title {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.2;
  font-family: 'Quattrocento', serif;
  color: #050505;
  padding-left: 10px;
  text-align: center;
}

.btn-primary {
  background-color: #66cdaa;
  border: none;
}

.btn-primary:hover {
  background-color: #7fffd4;
}

.pcard-button {
  text-align: right;
}

.pcard-text {
  padding-left: 10px;
  text-align: center;
  color: darkblue;
}

a {
  background-color: white;
  color: darkblue;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  
  h2 {
    font-size: 32px;
  }

  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  .caption {
    font-size: 16px;
    bottom: -25px;
  }

  .container {
    padding: 0 10px;
  }

  .circular-image {
    width: 80px;
    height: 80px;
    margin: 0 10px;
  }


  .card-container {
    width: 100%;
    margin: 25px auto 0;
    max-width: 350px;
  }

  .card {
    padding: 10px 20px;
  }

  .card-title {
    font-size: 36px;
    line-height: 42px;
  }

  .card-description {
    font-size: 14px;
    line-height: 18px;
  }

  .card-media {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .card-shadow {
    display: none;
  }
}