<div class="overlay">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="con">
        <header class="head-form">
            <h2>Forgot Password</h2>
            <p>Please enter your registered email where<br> we will send you the reset password link</p>
        </header>
        <br>
        <div class="field-set">
            <span class="input-item">
                <i class="bi bi-person-circle"></i>
            </span>
            <input class="form-input" type="email" formControlName="email" placeholder="Email Address" required>
            <div *ngIf="form.invalid && (form.dirty || form.touched)" class="error"> Require a valid email address </div> 
            <br>
            <button type="submit" [disabled]="isFormInvalid()"> Reset Password Link </button>
        </div>
        <div>
            <small>Oh, I remember the password <a routerLink="/login">Back to Login</a></small>
        </div>
    </div>
    </form>
</div>
    
    
