/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */

.logo {
    margin-left: 20px;
    display: flex;
    justify-content: center;
  }

@media (max-width: 767px) {
    .logo {
     position: center;
    }

    .navbar-toggler {
      margin-right: 10px;
    }
  
    .navbar-collapse {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-nav {
      margin-top: 10px;
    }
  }

.navbar {
    background-color: #ffe4e1 !important;
    font-family: 'Poppins', sans-serif;
  }

i {
  font-size: 30px;
  margin-right: 15px;
}
  
.dropdown-link {
  color: black;
}

.dropdown-menu {
  background-color: #B8F2E6;
}

.dropdown-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

/* .single-line-link {
  white-space: nowrap;
} */

.navbar-nav .nav-link.active {
  color: darkblue;
}

