<header id="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-center">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="../../assets/FoodAlchemy1.png" alt="FoodAlchemy" width="200" height="100" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">HOME</a>
          <li ngbDropdown class="nav-item">
            <a class="nav-link active" [routerLink]="['/recipelist']" ngbDropdownToggle>RECIPES</a>
            <ul ngbDropdownMenu class="dropdown-menu">
              <li *ngFor="let type of types" ngbDropdownItem>
                <a style="text-decoration:none" class="dropdown-link" [routerLink]="['/listtype', type]">{{ type | titlecase }}</a>
              </li>
            </ul>
          </li>
          <li ngbDropdown class="nav-item">
            <button type="button" class="nav-link active" ngbDropdownToggle>CUISINES</button>
            <ul ngbDropdownMenu class="dropdown-menu">
              <li *ngFor="let cuisine of cuisines" ngbDropdownItem>
                <a style="text-decoration:none" class="dropdown-link" [routerLink]="['/listcuisine', cuisine]">{{ cuisine | titlecase }}</a>
              </li>
            </ul>
          </li>
          <li ngbDropdown class="nav-item">
            <button type="button" class="nav-link active" ngbDropdownToggle>DIETS</button>
            <ul ngbDropdownMenu class="dropdown-menu">
              <li *ngFor="let diet of diets" ngbDropdownItem>
                <a style="text-decoration:none" class="dropdown-link" [routerLink]="['/listdiet', diet]">{{ diet | titlecase }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active single-line-link" [routerLink]="['/search']">ADVANCED Search</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link active single-line-link" [routerLink]="['/dishbyingredients']">INGREDIENTS Genius</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active single-line-link" [routerLink]="['/roulette']">RecipeROULETTE</a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a class="nav-link active" [routerLink]="['/admin']"><b>ADMINBoard</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active single-line-link" *ngIf="isLoggedIn" [routerLink]="['/user']"><b>USERS' Community</b></a>
          </li>
        </div>
      </div>
      <form class="d-flex" role="search" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input class="form-control me-2" type="search" placeholder="Search for recipes" size=30 formControlName="title" (input)="onSearchInput()">
        <button class="btn btn-outline-success" type="submit" [disabled]="ButtonDisabled">Search</button>
      </form>
    </div>
    <div class="navbar-nav ml-auto align-items-center" *ngIf="!isLoggedIn">
      <span class="login-signup-text">Login/SignUp:</span>
      <a [routerLink]="['/login']"><i class="bi bi-person-circle"></i></a>
    </div>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/profile']"><i class="bi bi-person-circle"></i> Hi,{{ username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  href="#" (click)="logout()"><i class="bi bi-person-circle"></i>Logout</a>
      </li>
    </ul>
  </nav>
</header>