<div class="overlay">
  <div class="container">
    <div id="app">
      <h1>Upload a food picture and see what happens...</h1>
      <div id="imageChooser">
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
        <p class="error-message" *ngIf="selectedFile && selectedFile.size > 10485760">File should not exceed 10MB in size</p>
        <button class="btn btn-primary" (click)="uploadFiles()" [disabled]="!selectedFile">Upload</button>
      </div>
      <div *ngIf="analyzed; else notAnalyzed">
        <p>
          I think this is <span class="category">{{ analyzedImage.category.name.replace('_', ' ') }}</span> -
          {{ probabilityText }}
          I only know 50 different foods, this is <a
            href="https://spoonacular.com/food-api/docs#Image-Classification-Categories">full list</a>.
        </p>
      </div>
      <ng-template #notAnalyzed>
        <p>
          &lt;- upload an image here, or see it with this <a class="link" (click)="analyzeWithDemo()">demo picture</a>
        </p>
        <div style="position: relative;">
          <a (click)="analyzeWithDemo()" style="cursor: pointer;">
            <img align="center" [src]="demoImage" id="demoImg" />
          </a>
        </div>
      </ng-template>
      <div style="clear:both;"></div>
      <div *ngIf="analyzed">
        <h1>Nutrition profile of the average <span>{{ analyzedImage.category.name.replace('_', ' ') }}</span></h1>
        <div id="calories" class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            [ngStyle]="{ width: ((analyzedImage.nutrition.calories.value / 800) * 100) + '%' }"
            [attr.aria-valuenow]="(analyzedImage.nutrition.calories.value / 800) * 100" aria-valuemin="0"
            aria-valuemax="100">
          </div>
          &nbsp;
          <span class="calories-value">{{ analyzedImage.nutrition.calories.value }} calories</span>
        </div>

        <br>
        <div id="fat" class="progress">
          <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar"
            [ngStyle]="{ width: ((analyzedImage.nutrition.fat.value / 50) * 100) + '%' }"
            [attr.aria-valuenow]="(analyzedImage.nutrition.fat.value / 50) * 100" aria-valuemin="0" aria-valuemax="100">
          </div>
          &nbsp;
          <span class="fat-value">{{ analyzedImage.nutrition.fat.value }} {{ analyzedImage.nutrition.fat.unit }} fat</span>
        </div>

        <br>
        <div id="protein" class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
            [ngStyle]="{ width: ((analyzedImage.nutrition.protein.value / 50) * 100) + '%' }"
            [attr.aria-valuenow]="(analyzedImage.nutrition.protein.value / 50) * 100" aria-valuemin="0"
            aria-valuemax="100">
          </div>
          &nbsp;
          <span class="protein-value">{{ analyzedImage.nutrition.protein.value }} {{ analyzedImage.nutrition.protein.unit }} protein</span>
        </div>

        <br>
        <div id="carbs" class="progress">
          <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
            [ngStyle]="{ width: ((analyzedImage.nutrition.carbs.value / 50) * 100) + '%' }"
            [attr.aria-valuenow]="(analyzedImage.nutrition.carbs.value / 50) * 100" aria-valuemin="0"
            aria-valuemax="100">
          </div>
          &nbsp;
          <span class="carbs-value">{{ analyzedImage.nutrition.carbs.value }} {{ analyzedImage.nutrition.carbs.unit }} carbs</span>
        </div>

        <br>
        <h1 id="hungry">Craving something delicious? Check out these suggestions!</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div *ngFor="let r of analyzedImage.recipes; let i = index" class="recipe">
            <h4>{{ r.title }}</h4>
            <a [href]="r.url"><img
                [src]="'https://spoonacular.com/recipeImages/' + r.id + '-240x150.' + r.imageType" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>